.tooltip {
   position: relative;
   display: inline-block;
   }
   .tooltip .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: #353f51;
   color: #fff;
   font-family: Arial;
   font-weight: Bold;
   text-align: center;
   border-radius: 6px;
   padding: 5px 5px;
   margin: 3px 5px;
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: -5px;
   right: 105%;
   }
   .tooltip:hover .tooltiptext {
   visibility: visible;
   }
   .tooltip:after {
    content: attr(title); /* define content here */
    ...
    opacity: 0; /* define initial transition property */
    -webkit-transition: opacity 1s ease-in-out; /* define transitions */
    transition: opacity 1s ease-in-out;
    }
    .tooltip:hover:after {
    opacity: 1; /* provide only the final transition property */
   }
